## Authentication and Environment Variables
auth/*
.env
.env.local
.env.*.local

## R & Rstudio
.Rhistory
.Renviron
.RData
.Rproj.user
.Rproj.user/
.Rapp.history
.RData
.Ruserdata
*-Ex.R
/*.tar.gz
/*.Rcheck/
^.DS_Store$

## Data files
*.rds
*.xlsx
*.csv
*.tsv
*.parquet
/.quarto/
docs

## Other
CLAUDE.md
