default:
  ingestion:
    kobo-lurio:
      asset_id: !expr Sys.getenv('KOBO_ASSET_ID_LURIO')
      username: !expr Sys.getenv('KOBO_USERNAME')
      password: !expr Sys.getenv('KOBO_PASSWORD')
      token: !expr Sys.getenv('KOBO_TOKEN')
      raw_surveys:
        file_prefix: wf-lurio-surveys-raw
        version: latest
      preprocessed_surveys:
        file_prefix: wf-lurio-surveys-preprocessed
        version: latest
      validated_surveys:
        file_prefix: wf-lurio-surveys-validated
        version: latest
      validation:
        flags:
          file_prefix: lurio-flags
    kobo-adnap:
      asset_id: !expr Sys.getenv('KOBO_ASSET_ID_ADNAP')
      raw_surveys:
        file_prefix: wf-adnap-surveys-raw
        version: latest
      preprocessed_surveys:
        file_prefix: wf-adnap-surveys-preprocessed
        version: latest
      validated_surveys:
        file_prefix: wf-adnap-surveys-validated
        version: latest
      validation:
        flags:
          file_prefix: adnap-flags
  storage:
    google:
      key: gcs
      options:
        project: peskas
        bucket: mozambique-dev
        service_account_key: !expr Sys.getenv('GCP_SA_KEY')
      options_coasts:
        project: peskas
        bucket: peskas-coasts
        service_account_key: !expr Sys.getenv('GCP_SA_KEY')
  pds_storage:
    google:
      key: gcs
      options:
        project: peskas
        bucket: pds-mozambique-dev
        service_account_key: !expr Sys.getenv('GCP_SA_KEY')
    mongodb:
      connection_string: !expr Sys.getenv('MONGODB_CONNECTION_STRING')
      pipeline:
        database_name: mozambique-dev
        collection:
          export: export
      portal:
        database_name: portal-dev
        collection:
          monthly_summaries: monthly_summaries
      validation:
        database_name: mozambique-dev
        collection:
          flags: surveys_flags
          enumerators_stats: enumerators_stats
  pds:
    token: !expr Sys.getenv('PDS_TOKEN')
    secret: !expr Sys.getenv('PDS_SECRET')
    pds_trips:
      file_prefix: pds-trips
      version: latest
    pds_tracks:
      file_prefix: pds-tracks
      version: latest

  metadata:
    google_sheets:
      name: metadata-tables
      sheet_id: !expr Sys.getenv("GOOGLE_SHEET_ID")
      tables:
        - landing_sites
        - catch_groups
        - vessel_type
        - habitat
        - gear_type
  airtable:
    token: !expr Sys.getenv('AIRTABLE_TOKEN')
    frame:
      base_id: !expr Sys.getenv('AIRTABLE_BASE_ID_FRAME')
      tables:
        countries: Countries
        pds_devices: pds_devices
  validation:
    k_nboats: 3
    k_nfishers: 3
    k_catch: 2.5
    k_pricekg: 5

production:
  storage:
    google:
      options:
        bucket: mozambique-prod
    mongodb:
      pipeline:
        database_name: mozambique-prod
      validation:
        database_name: mozambique-prod
      portal:
        database_name: portal-prod
  pds_storage:
    google:
      options:
        bucket: pds-mozambique-prod


local:
  inherits: default
  storage:
    google:
      options:
        service_account_key: !expr Sys.getenv('GCP_SA_KEY')
    mongodb:
      connection_string: !expr Sys.getenv('MONGODB_CONNECTION_STRING')
