default:
  country: mozambique
  ingestion:
    lurio:
      asset_id: !expr Sys.getenv('KOBO_ASSET_ID_LURIO')
      username: !expr Sys.getenv('KOBO_USERNAME')
      password: !expr Sys.getenv('KOBO_PASSWORD')
      token: !expr Sys.getenv('KOBO_TOKEN')
    adnap:
      asset_id: !expr Sys.getenv('KOBO_ASSET_ID_ADNAP')
      username: !expr Sys.getenv('KOBO_USERNAME')
      token: !expr Sys.getenv('KOBO_TOKEN')

  surveys:
    summaries:
      file_prefix: mozambique-summaries
      version: latest
    aggregated:
      file_prefix: mozambique-aggregated
      version: latest
    lurio:
      raw:
        file_prefix: wf-lurio-surveys-raw
        version: latest
      preprocessed:
        file_prefix: wf-lurio-surveys-preprocessed
        version: latest
      validated:
        file_prefix: wf-lurio-surveys-validated
        version: latest
      validation:
        flags:
          file_prefix: lurio-flags
    adnap:
      raw:
        file_prefix: wf-adnap-surveys-raw
        version: latest
      preprocessed:
        file_prefix: wf-adnap-surveys-preprocessed
        version: latest
      validated:
        file_prefix: wf-adnap-surveys-validated
        version: latest
      merged:
        file_prefix: wf-adnap-surveys-merged
        version: latest
      validation:
        flags:
          file_prefix: adnap-flags

  storage:
    google:
      key: gcs
      options:
        project: peskas
        bucket: mozambique-dev
        service_account_key: !expr Sys.getenv('GCP_SA_KEY')
      options_coasts:
        project: peskas
        bucket: peskas-coasts-dev
        service_account_key: !expr Sys.getenv('GCP_SA_KEY')
      options_api:
        project: peskas
        bucket: peskas-api-dev
        service_account_key: !expr Sys.getenv('GCP_SA_KEY')
    mongodb:
      connection_strings:
        main: !expr Sys.getenv('MONGODB_CONNECTION_STRING')
        validation: !expr Sys.getenv('MONGODB_CONNECTION_STRING_VALIDATION')
      databases:
        pipeline:
          database_name: mozambique-dev
          collections:
            export: export
        validation:
          database_name: validation-dev
          collections:
            flags: surveys_flags
            enumerators_stats: enumerators_stats
        dashboard:
          database_name: portal-dev
          collections:
            monthly_summaries: monthly_summaries

  pds_storage:
    google:
      key: gcs
      options:
        project: peskas
        bucket: pds-mozambique-dev
        service_account_key: !expr Sys.getenv('GCP_SA_KEY')

  pds:
    token: !expr Sys.getenv('PDS_TOKEN')
    secret: !expr Sys.getenv('PDS_SECRET')
    pds_trips:
      file_prefix: pds-trips
      version: latest
    pds_tracks:
      file_prefix: pds-tracks
      version: latest

  api:
    trips:
      raw:
        file_prefix: trips-raw
        cloud_path: mozambique/raw
      validated:
        file_prefix: trips-validated
        cloud_path: mozambique/validated

  metadata:
    google_sheets:
      name: metadata-tables
      sheet_id: !expr Sys.getenv("GOOGLE_SHEET_ID")
      tables:
        - landing_sites
        - catch_groups
        - vessel_type
        - habitat
        - gear_type
    airtable:
      assets: assets
      token: !expr Sys.getenv('AIRTABLE_TOKEN')
      frame:
        base_id: !expr Sys.getenv('AIRTABLE_BASE_ID_FRAME')
        tables:
          countries: Countries
          pds_devices: pds_devices

  validation:
    k_nboats: 3
    k_nfishers: 3
    k_catch: 2.5
    k_pricekg: 5

production:
  storage:
    google:
      options:
        bucket: mozambique-prod
      options_api:
        bucket: peskas-api-prod
    mongodb:
      databases:
        pipeline:
          database_name: mozambique-prod
        validation:
          database_name: validation-prod
        dashboard:
          database_name: portal-prod

  pds_storage:
    google:
      options:
        bucket: pds-mozambique-prod
