---
env:
  GCP_SA_KEY: ${{ secrets.GCP_SA_KEY }}
  GOOGLE_SHEET_ID: ${{ secrets.GOOGLE_SHEET_ID }}
  KOBO_TOKEN: ${{ secrets.KOBO_TOKEN }}
  KOBO_ASSET_ID_LURIO: ${{ secrets.KOBO_ASSET_ID_LURIO }}
  KOBO_ASSET_ID_ADNAP: ${{ secrets.KOBO_ASSET_ID_ADNAP }}
  KOBO_PASSWORD: ${{ secrets.KOBO_PASSWORD }}
  KOBO_USERNAME: ${{ secrets.KOBO_USERNAME }}
  MONGODB_CONNECTION_STRING: ${{ secrets.MONGODB_CONNECTION_STRING }}
  MONGODB_CONNECTION_STRING_VALIDATION: ${{ secrets.MONGODB_CONNECTION_STRING_VALIDATION }}
  AIRTABLE_TOKEN: ${{ secrets.AIRTABLE_TOKEN }}
  AIRTABLE_BASE_ID_FRAME: ${{ secrets.AIRTABLE_BASE_ID_FRAME }}
  PDS_TOKEN: ${{ secrets.PDS_TOKEN }}
  PDS_SECRET: ${{ secrets.PDS_SECRET }}

jobs:
  build-container:
    name: Build R container
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - id: build-docker
        name: Build image with cache
        uses: whoan/docker-build-with-cache-action@v5
        with:
          dockerfile: Dockerfile.prod
          image_name: r-runner-peskas-mozambique
          password: ${{ secrets.GITHUB_TOKEN }}
          registry: docker.pkg.github.com
          username: $GITHUB_ACTOR
  ingest-preprocess-lurio:
    container:
      credentials:
        password: ${{ secrets.GITHUB_TOKEN }}
        username: ${{ github.actor }}
      image: docker.pkg.github.com/worldfishcenter/peskas.mozambique.data.pipeline/r-runner-peskas-mozambique
    name: Ingest and preprocess Lurio landings
    needs: build-container
    runs-on: ubuntu-latest
    steps:
      - if: endsWith(github.ref, '/main')
        name: Set env to production
        run: echo "R_CONFIG_ACTIVE=production" >> $GITHUB_ENV
      - name: Call ingest_landings_lurio()
        run: Rscript -e 'peskas.mozambique.data.pipeline::ingest_landings_lurio()'
      - name: Call preprocess_landings_lurio()
        run: Rscript -e 'peskas.mozambique.data.pipeline::preprocess_landings_lurio()'

  ingest-preprocess-adnap:
    container:
      credentials:
        password: ${{ secrets.GITHUB_TOKEN }}
        username: ${{ github.actor }}
      image: docker.pkg.github.com/worldfishcenter/peskas.mozambique.data.pipeline/r-runner-peskas-mozambique
    name: Ingest and preprocess ADNAP landings
    needs: build-container
    runs-on: ubuntu-latest
    steps:
      - if: endsWith(github.ref, '/main')
        name: Set env to production
        run: echo "R_CONFIG_ACTIVE=production" >> $GITHUB_ENV
      - name: Call ingest_landings_adnap()
        run: Rscript -e 'peskas.mozambique.data.pipeline::ingest_landings_adnap()'
      - name: Call preprocess_landings_adnap()
        run: Rscript -e 'peskas.mozambique.data.pipeline::preprocess_landings_adnap()'

  ingest-preprocess-pds:
    container:
      credentials:
        password: ${{ secrets.GITHUB_TOKEN }}
        username: ${{ github.actor }}
      image: docker.pkg.github.com/worldfishcenter/peskas.mozambique.data.pipeline/r-runner-peskas-mozambique
    name: Ingest and preprocess GPS data
    needs: build-container
    runs-on: ubuntu-24.04
    steps:
      - if: endsWith(github.ref, '/main')
        name: Set env to production
        run: echo "R_CONFIG_ACTIVE=production" >> $GITHUB_ENV
      - name: Call ingest_pds_trips()
        run: Rscript --vanilla -e 'peskas.mozambique.data.pipeline::ingest_pds_trips()'
      - name: Call ingest_pds_tracks()
        run: Rscript --vanilla -e 'peskas.mozambique.data.pipeline::ingest_pds_tracks()'
      - name: Call preprocess_pds_tracks()
        run: Rscript --vanilla -e 'peskas.mozambique.data.pipeline::preprocess_pds_tracks()'

  validate-lurio:
    container:
      credentials:
        password: ${{ secrets.GITHUB_TOKEN }}
        username: ${{ github.actor }}
      image: docker.pkg.github.com/worldfishcenter/peskas.mozambique.data.pipeline/r-runner-peskas-mozambique
    name: Validate Lurio landings
    needs: ingest-preprocess-lurio
    runs-on: ubuntu-latest
    steps:
      - if: endsWith(github.ref, '/main')
        name: Set env to production
        run: echo "R_CONFIG_ACTIVE=production" >> $GITHUB_ENV
      - name: Call validate_surveys_lurio()
        run: Rscript -e 'peskas.mozambique.data.pipeline::validate_surveys_lurio()'

  validate-adnap:
    container:
      credentials:
        password: ${{ secrets.GITHUB_TOKEN }}
        username: ${{ github.actor }}
      image: docker.pkg.github.com/worldfishcenter/peskas.mozambique.data.pipeline/r-runner-peskas-mozambique
    name: Validate ADNAP landings
    needs: ingest-preprocess-adnap
    runs-on: ubuntu-latest
    steps:
      - if: endsWith(github.ref, '/main')
        name: Set env to production
        run: echo "R_CONFIG_ACTIVE=production" >> $GITHUB_ENV
      - name: Call validate_surveys_adnap()
        run: Rscript -e 'peskas.mozambique.data.pipeline::validate_surveys_adnap()'
        
  sync-validation-adnap:
    name: Sync ADNAPsurveys validation
    needs: validate-adnap
    runs-on: ubuntu-24.04
    container:
      image: docker.pkg.github.com/worldfishcenter/peskas.mozambique.data.pipeline/r-runner-peskas-mozambique
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Set env to production
        if: endsWith(github.ref, '/main')
        run: echo "R_CONFIG_ACTIVE=production" >> $GITHUB_ENV
      - name: Call sync_validation_submissions(asset_id = "adnap")
        run: Rscript --vanilla -e 'peskas.mozambique.data.pipeline::sync_validation_submissions(asset_id = "adnap")'

  sync-validation-lurio:
    name: Sync ADNAPsurveys validation
    needs: validate-lurio
    runs-on: ubuntu-24.04
    container:
      image: docker.pkg.github.com/worldfishcenter/peskas.mozambique.data.pipeline/r-runner-peskas-mozambique
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Set env to production
        if: endsWith(github.ref, '/main')
        run: echo "R_CONFIG_ACTIVE=production" >> $GITHUB_ENV
      - name: Call sync_validation_submissions(asset_id = "lurio")
        run: Rscript --vanilla -e 'peskas.mozambique.data.pipeline::sync_validation_submissions(asset_id = "lurio")'

name: Peskas mozambique Data Pipeline
'on':
  push: null
  schedule:
    - cron: 0 0 */2 * *
  #export-landings:
  #  name: Export landings
  #  runs-on: ubuntu-latest
  #  needs: validate-landings
  #    image: docker.pkg.github.com/worldfishcenter/peskas.mozambique.data.pipeline/r-runner-peskas-mozambique
  #  container:
  #    credentials:
  #      username: ${{ github.actor }}
  #      password: ${{ secrets.GITHUB_TOKEN }}
  #  steps:
  #    - name: Set env to production
  #      if: endsWith(github.ref, '/main')
  #      run: echo "R_CONFIG_ACTIVE=production" >> $GITHUB_ENV
  #    - name: Export landings
  #      run: Rscript -e 'peskas.mozambique.data.pipeline::export_landings()'